* {
    margin: 0;
    padding: 0;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    border-radius: 75px;
    margin-top: 25px;
    margin-bottom: 25px;    
}
